.top_bar_container {
    background: black;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    color: white;
    height: 88px;
     box-sizing: border-box;
    
}

.top_bar {
    margin: 0 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

.font_1 {
    margin: 10px;
    font-size: 24px;
}

.font_2 {
    font-size: 24px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.img-container{
 width: 35px;
}

.top_bar_2{
    text-align: right;
    width: 55%;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.submit{
    display: inline;
    margin: 0 30px;
    border-style: double;
    padding: 12px;
    border-radius: 10px;
}
.top_bar_2 .sign a,
.top_bar_2 .submit a{
    text-decoration: none;
    color: #ffff;
}

.sign{
    display: inline;
    border-style: double;
    padding: 12px;
    background-color: #4C5FD5;
    border-radius: 10px;
}
body{
    margin: 0;
}

.text_title{
    padding: 6rem;
    text-align: center;
}

.text_title_container .text_title .title_1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin: 0 0 2rem;
    font-weight: 100;
}

.text_title_container{
    background-color: #dadbf1;
}
.text_title_container .text_title .title_1 h3{
    border-style: groove;
    padding: 11px;
    margin: 0 auto;
    width: 40rem;
    text-align: left;
    color: darkgray;
    background-color: white;
}